<h1>Welcome to the Musicians Marketplace!</h1>

<div *ngIf="auth.isLoggedIn(); else loggedOut">
  <p>You are logged in!</p>
  <button (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>
  <p>You are NOT Logged in.</p>
  <a routerLink="/login">Go to Login</a>
</ng-template>

<hr>

<div *ngIf="auth.isLoggedIn()">

  <h2>Create Listing</h2>
  
  <input
    type="text"
    placeholder="Title"
    [(ngModel)]="newListing.title"
  />
  
  <textarea
    placeholder="Description"
    [(ngModel)]="newListing.description"
  ></textarea>
  
  <input
    type="number"
    placeholder="Price"
    [(ngModel)]="newListing.price"
    (ngModelChange)="newListing.price = +$event"
  />
  
  <select [(ngModel)]="newListing.category">
    <option value="instrument">Instrument</option>
    <option value="service">Service</option>
    <option value="equipment">Equipment</option>
    <option value="other">Other</option>
  </select>
  
  <button (click)="createListing()">Post Listing</button>

</div>

<hr>

<h2>Listings</h2>

<div *ngIf="listings.length === 0">
  <p>No listings available yet.</p>
</div>

<div *ngFor="let listing of listings" class="listing-card">
  <h3>{{ listing.title }}</h3>
  
  <p>{{ listing.description }}</p>
  
  <p>{{ listing.price }}</p>
  
  <p>
    <strong>Category:</strong>
    {{ listing.category }}
  </p>
  
  <small>
    Posted by : {{ listing.postedBy?.username || 'Unknown user' }}
  </small>

</div>
